<div id="marquee" style='overflow:hidden'>
   • Творю • Мечтаю • Гипнотизирую • Качаюсь • Готовлюсь • Совершенствуюсь • Стремлюсь чрез тернии • Бегу • Нахожу решения • Бью свою тень • Преумножаю печаль
</div>
<div class="chistik">
    Дмитрий Чистик
    <video class="chistik-animate" autoplay="autoplay" loop>
        <source src="chi-stick-rolling.webm">
    </video>
</div>
<div class="main-wrapper">
    <div class="sub-chistik">
        Пламя угасло, и он <br class="br">
        глядел в окно на звезды.
    </div>
    <div class="drink">Выпьем за фронтенд</div>
    <ul class="chistik-advantages">
        <li>Софтвер девелопер.</li>
        <li>Мечтатель.</li>
        <li>ЛГБТ аткивист.</li>
        <li>Мыслитель.</li>
        <li>Визионер.</li>
        <li>Дмитрий Чистик.</li>
    </ul>
    <div class="copyright">
        © 2020
    </div>
</div>



