@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

b {
    font-weight: 500;
}

body {
    height: 100vh;
    min-height: 750px;
    width: 100vw;
    margin: 0;
    background-color: #000;
    position: relative;
    overflow: hidden;

    @media (max-width: 768px) {
        overflow: auto;
        height: auto;
        width: auto;
    }
}

.main-wrapper {
    padding: 0 30px 30px 30px;

    @media (max-width: 768px) {
        padding: 0 15px 72px 15px;
    }
}

#marquee {
    padding-top: 30px;
    font-family: 'Inter var', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.4;

    @media (max-width: 768px) {
        padding-top: 10px;
    }
}

.br1 {
    @media (max-width: 768px) {
        display: none;
    }
}

.br2 {
    display: none;

    @media (max-width: 768px) {
        display: block;
    }
}

.chistik {
    font-style: normal;
    font-weight: 900;
    font-size: 12.4vw;
    line-height: 14.4vw;
    letter-spacing: -.8vw;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    position: relative;

    @media (max-width: 768px) {
        font-size: 80px;
        line-height: 95px;
        letter-spacing: -3px;
        text-align: left;
        padding: 0 15px;
    }

    &:after {
        content: '₽ · € · $ · ₪ · ¥';
        display: block;
        position: absolute;
        bottom: -20px;
        right: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 48px;
        letter-spacing: -1px;
        color: #FFFFFF;

        @media (max-width: 768px) {
            display: none;
        }
    }
}

.sub-chistik {
    margin-top: 20px;
    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1.4px;
    color: #FFFFFF;

    @media (max-width: 768px) {
        font-size: 20px;
        line-height: 28px;
        margin-top: -25px;
        position: relative;
        z-index: 1111;
    }
}

.chistik-advantages {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    color: #FFFFFF;

    @media (max-width: 768px) {
        position: static;
        font-size: 32px;
        line-height: 44px;
        padding-top: 28px;
        margin-top: 28px;
        border-top: 1px solid rgba(255, 255, 255, .3);
    }

    li {
        line-height: 48px;
        padding: 0;
        margin: 0;
    }
}

.copyright {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 149px;
    height: 53px;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    letter-spacing: -0.065em;
    color: #FFFFFF;

    @media (max-width: 768px) {
        font-size: 36px;
        line-height: 44px;
        width: 122px;
        height: 44px;
        bottom: 15px;
        right: 15px;
    }
}

.drink {
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.4;
    transform: rotate(90deg);
    width: 300px;
    text-align: justify;
    text-align-last: justify;
    right: -116px;
    top: 63%;

    @media (max-width: 768px) {
        position: static;
        transform: none;
        margin-top: 48px;
        width: 100%;
    }
}

.chistik-animate {
    height: 86vh;
    width: auto;
    position: absolute;
    top: 50px;
    right: 16%;

    @media (max-width: 768px) {
        position: static;
        margin: -40px auto 0 auto;
        display: block;
    }
}
